{% extends 'cars/base.html' %}

{% block content %}
<h1>Автомобиль:</h1>
    <h2>Марка: {{ car.make }}</h2>
    <p>Модель: {{ car.model }}</p>
    <p>Год выпуска: {{ car.year }}</p>
    <p>Описание: {{ car.description }}</p>
{% if request.user.is_authenticated %}
    {% if request.user == car.owner %}
        <p><a href="{% url 'car-edit' pk=car.pk %}">Изменить</a></p>
        <p><a href="{% url 'car-delete' pk=car.pk %}">Удалить</a></p>
    {% endif %}
{% endif %}
<h2>Добавить комментарий:</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Опубликовать</button>
    </form>
<h2>Список комментариев</h2>
    <ul>
        {% for comment in comments %}
            <li><p>{{ comment.content }}</p> - <b>{{ comment.author }}</b></li>
        {% empty %}
            <li>Нет комментариев.</li>
        {% endfor %}
    </ul>

{% endblock %}